<!DOCTYPE html>
<html lang="en" ng-app="sabbatApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body>
<div class="container-fluid">
    <div class="row row-header">
        <div class="col-sm-9">
            <span class="text-header">Some header text</span>
        </div>
        <div class="col-sm-3 col-login">
            <div class="row">

                <form  class="form-inline">
                    <div class="form-group col-md-6">
                        <input  type="User" class="form-control" id="login-control" placeholder="Username">
                    </div>
                    <div class="form-group col-md-6">
                        <input  type="password" class="form-control" id="login-control" placeholder="Password">
                    </div>
                    <div class="checkbox col-md-6">
                        <label><input  type="checkbox" id="login-control">Remember me</label>
                    </div>
                    <div class="col-md-6">
                      <button type="submit" class="btn btn-primary" id="login-control">Login</button>
                    </div>
                </form>


<!--                <span>
                    <input class="login-input" type="text" />
                </span>
                <input class="login-input" type="password login-input"/>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">Login</button>
                </div>-->
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-navigation">
          <ul class="nav nav-pills nav-stacked ul-navigation" role="tablist">
              <li role="presentation" data-toggle="tab">
                  <div class="nav-icon-container">
                    <button type="button" class="btn btn-default" data-target="#notes" data-toggle="tab" role="tab">
                          <span class="glyphicon glyphicon-pencil nav-glyphicon"/>
                    </button>
                  </div>
              </li>
              <li role="presentation" class="active">
                  <div class="nav-icon-container">
                      <a href="#chat" data-toggle="tab" role="tab">
                        <span class="glyphicon glyphicon-user"/>
                      </a>
                  </div>
              </li>
          </ul>
      </div>  <!-- end side navigation -->

    </div>  <!-- end dashboard -->

    <div class="tab-content col-content">  <!-- content -->

        <div id="notes" class="tab-pane active" role="tabpanel" ng-controller="noteController">  <!-- notes view -->

            <div class="row">
                <div class="col-md-2">
                    <input class="input" ng-model="query" />
                </div>
                <div class="col-md-10">
                    <button class="btn btn-default" ng-click="create()">Add</button>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                    <ul class="notes-list">
                        <li ng-repeat="note in notes">
                            <span class="title">{{note.id}}</span>
                            <a href="" class="title" ng-click="showContent(note.id)">{{note.title}}</a>
                        </li>
                    </ul>
                </div>  <!-- end div col -->
                <div class="col-md-9">
                  <textarea class="note-textarea" ng-model="selectednote.content"></textarea>
                </div>
              </div>  <!-- end div row -->
        </div>  <!-- end notes View -->

        <div id="chat" class="tab-pane" role="tabpanel">  <!-- chat view -->
            <h2>text</h2>
        </div>  <!-- notes view -->
    </div>  <!-- end content -->

    <div class="clearfix" />

    <div class="row" >
        <div class="col-md-12 col-footer">
          <h2>here is the footer</h2>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!--<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js" />-->

<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js" ></script>

<!-- angular scripts -->
<script type="text/javascript" src="node_modules/angular/angular.js" ></script>
<script type="text/javascript" src="node_modules/angular-route/angular-route.js"></script>
<script type="text/javascript" src="node_modules/angular-uuid/angular-uuid.js"></script>

<!-- Note specific controller, services -->
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/model/NoteModel.js"></script>
<script type="text/javascript" src="js/service/NoteService.js"></script>
<script type="text/javascript" src="js/controller/NoteController.js"></script>

</body>
</html>