<!DOCTYPE html>
<html>
<head>
    <style>
        .col {
            float: left;
            margin-top: 1em;
            margin-bottom: 1 em;
            margin-left: 1em;
            margin-right: 1px;
            padding-left: 10px;
            width: 33.3%;
        }
        .col-bg {
            background-color: #00d4b4;
        }
    </style>
</head>
<body>

<p>A ul element is displayed like this:</p>

<div class="col col-bg">Hello</div>
<div class="col col-bg">Hello</div>
<div class="col col-bg">Hello</div>
<p>Change the default CSS settings to see the effect.</p>

</body>
</html>
