#row-footer {
    height: 10%;
    padding: 5px;
    background-color: #E9DC51;
}

#col-dashboard {
    margin-left: 10px;
    margin-right: auto;
    background-color: lightcyan;
}

#col-nav-fixed {
    width: 10px;
    float:left;
    background-color: lightgrey;
}

#leftregion {
    width: 250px;
}

#rightregion {
    width: 200px;
    padding: 10px;
    background-color: yellow;
}

#rightregion textarea {
    #width: 90%;
    background-color: #E9DC51;
}

.noteeditor {
    background: white;
}

#row-middle {

}

.row-header {
    height: 80px;
    background-color: #dedede;
}

.login {
    border: 2px solid red;
    /*width: 200px;*/
}

.login .login-input {
    background-color: #FFFF88;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 0 1px;
    float: left;
}

.clearfix {
    clear: both;
    display: block;
}

