#row-header {
    height: 5%;
    background-color: #E9DC51;
}

#row-footer {
    height: 10%;
    padding: 5px;
    background-color: #E9DC51;
}

#col-dashboard {
    margin-left: 10px;
    margin-right: auto;
    background-color: lightcyan;
}

#col-nav-fixed {
    width: 10px;
    float:left;
    background-color: lightgrey;
}

#leftregion {
    width: 250px;
}

#rightregion {
    width: 200px;
    padding: 10px;
    background-color: yellow;
}

#rightregion textarea {
    #width: 90%;
    background-color: #E9DC51;
}

.noteeditor {
    background: white;
}

#row-middle {
}